@import url("http://fonts.googleapis.com/css?family=Roboto:500,300");

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", Helvetica, sans-serif;
}

body {
  margin: 0;
  background: #fff;
  color: #555f66;
}

h1, h2, h3, h4, h5, h6 {
  /* color: #666f77; */
  font-weight: 300;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 0.125em;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}